# backend
DATABASE_URL=...
OPENAI_API_KEY=...
OPENAI_MODEL=...

# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=...
LANGSMITH_PROJECT=techshop_agent

# test evals
RUN_REAL_LLM_EVAL=1
